<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css' integrity='sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ==' crossorigin='anonymous'/>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <link rel="stylesheet" href="css/style.css">
  <title>Vue To Do list</title>
</head>
<body>

  <div id="app">
    <h1>ToDo List</h1>
    <input type="text" v-model.trim="newTodo" placeholder="nuovo todo" @keyup.enter="addTodo()">
    <button @click="addTodo()">Aggiungi</button>

    <div class="todo-container">
      <h2 v-if="todoList.length === 0">Non ci sono ToDo</h2>

      <ul v-else>
        <li v-for="(todo, index) in todoList"> 
          <h3 @click="todo.done = !todo.done" :class="{'txt-line-through' : todo.done}">{{todo.text}}</h3> 
          <i class="fa-solid fa-xmark" @click="removeTodo(index)"></i>
        </li>
      </ul>

    </div>
  </div>
  

  <script src="js/script.js"></script>
</body>
</html>